.node {
  font: 300 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #999999;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  stroke-width: 0.1em;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 0.15em;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}
