$width: 2px;

.node {
    fill: #333;
    stroke: #fff;
    stroke-width: $width;
    cursor: pointer;
}

.link {
    stroke: #777;
    stroke-width: $width;
}

.marker {
    fill: #777;
}


.text {
    fill: #07a;
    cursor: pointer;
}
